html(lang='en')
    head
        meta(charset='utf-8')
        title TDA
        style
            include ../static/style.css
    body
        nav#navigation
            #logo
                img(src="../static/logo.png", alt="TDA")
                p THE DANCE ACADEMY
            ul
                li #[a(href="/#Welcome") Home]
                li #[a(href="/#mission") Mission]
                li #[a(href="/#sponsers") Sponsors]
                li #[a(href="/") Support]
                li #[a(href="/") Contact]
        
        section#Welcome
            .h1 Welcome to The Dance Academy
            .h2 Eat. Sleep. Dance. Repeat

        section#mission
            .title Our Mission

            .cards
                #card1
                    .heading
                        | Outstanding Performace
                    .card.card1
                        img(src="../static/1.png", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit repellat vel a voluptatum perferendis nulla nobis ut quasi officiis corrupti?
                #card2
                    .heading
                        | A+ Graded by Universities
                    .card.card2
                        img(src="../static/2.png", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam minima numquam consequatur. Id temporibus quidem reiciendis, eligendi optio
                #card3
                    .heading
                        | Best in City
                    .card.card3
                        img(src="../static/3.png", alt="")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa provident quos incidunt delectus quidem rerum, sequi laudantium eveniet corrupti
                
        section#sponsers
            .title Our Sponsors

            .sponsor-imgs
                img(src="../static/logo1.png", alt="Sponsor Image 1")
                img(src="../static/logo2.png", alt="Sponsor Image 2")
                img(src="../static/logo3.png", alt="Sponsor Image 3")
                img(src="../static/logo4.png", alt="Sponsor Image 4")

        footer
            | Copyright 2020 | Samir Nayakawadi